## As bibliotecas utilizadas são:

pandas 
numpy 
matplotlib.pyplot 
seaborn
scikit-learn.linear_model LinearRegression
scikit-learn.tree DecisionTreeRegressor
scikit-learn.ensemble RandomForestRegressor
scikit-learn.model_selection train_test_split
scikit-learn.model_selection cross_val_score
scikit-learn.model_selection GridSearchCV
scikit-learn.metrics mean_absolute_error, r2_score, mean_squared_error
scikit-learn.preprocessing RobustScaler
gc
pickle
